@font-face {
    font-family:'Quicksand';
    src: url("Quicksand-Font.ttf")
}
body {
    font-family:'Quicksand';
    width:400px;
    height:400px;
}
button.hover-box {
    outline:none;
    border-radius:1000px;
    border:;
}